.bgimg {
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/05/73/single-one-line-drawing-rehabilitation-center-vector-40320573.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
    margin: 2%;
}

#form {
    background-color:     rgba(65, 65, 69, 0.89);
    height: 400px;
    width: 700px;
    margin: auto;
    padding: 20px;
    opacity: 0.7;
    font-family: 'Noto Sans', sans-serif;

}

#form h3 {
    border-bottom: 2px solid #3399ff;
    width: 210px rgb(0, 60, 119)rgb(8, 72, 135)rgb(51, 135, 8)rgb(83, 190, 30);
    padding: 5px;
}

::placeholder {
    color: #fff;
    font-weight: 700;
}

#input #first_name,
#last_name,
#email,
#login_email {
    width: 300px;
    margin: 5px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: #ffffff
}

#input2 #phone,
#occupation {
    width: 300px;
    margin: 5px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: #ffffff
}

#input3 #input-group {
    margin-left: 30px;
}

#input4 #input-group {
    width: 300px;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: #fff
}

#input4 #input-group1 {
    width: 615px;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: #fff
}

#input5 h3 {
    border-bottom: 2px solid #3399ff;
    width: 220px;
    padding: 5px;
}

#input6,
#user_name, #password,
#login_password {
    width: 300px;
    margin: 5px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: #fff
}

#input6 #input-group1 {
    width: 615px;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: #fff
}
